
.vs/lexingtontools.github.io/config/applicationhost.config
.vs/lexingtontools.github.io/FileContentIndex/386d9a10-30db-487f-9c4e-0c80ecbbb454.vsidx
.vs/lexingtontools.github.io/FileContentIndex/read.lock
.vs/lexingtontools.github.io/v17/.wsuo
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
